@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600&display=swap');

:root {
    --baseColor: #EE1D23;
    --fontBase: 'Lexend', sans-serif;
    --font2: 'Montserrat', sans-serif;
    --width: 420px;
}
* {
    box-sizing: border-box;
    outline: none;
}

.form-create {
}

a, button{
    transition: .3s;
}
button:focus{
    box-shadow: none !important;
    outline: none !important;
}
body {
    font-family: var(--fontBase);
    font-size: 16px;
    font-weight: 400;
    width: 100vw;
    overflow-x: hidden;
    color: #60626A;
    background: #f9f9f9;
}

.font2{
    font-family: var(--font2);
}
.bold600{
    font-weight: 600;
}
.bold700{
    font-weight: 700;
}
.bold400{
    font-weight: 400;
}
.bg-danger{
    background: #F44F4F !important;
}
.text-danger{
    color: #F44F4F !important;
}
.btn-danger {
    background: #F44F4F !important;
}
.bg-danger-bg-subtle{
    background-color: #FFE5E5 !important;
    color: #F44F4F;
}
.bg-dark-bg-subtle{
    background-color: #F2F2F2 !important;
}
.wrapper {
    padding-bottom: 150px;
    width: 100%;
    max-width: var(--width);
    margin: 0 auto;
    border: 1px solid #f2f2f2;
    border-top: none;
    border-bottom: none;
    min-height: 100vh;
    position: absolute;
    overflow-y: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
body::-webkit-scrollbar-track
{
    background-color: #ffffff;
}

body::-webkit-scrollbar
{
    width: 8px;
    background-color: #e3e3e3;
}

body::-webkit-scrollbar-thumb
{
    background-color: #d9d9d9;
    border-radius: 15px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 1.5px solid #F2F2F2;
    background: #fff;
}

.logo img {width: 160px;}
.user-box {
    display: flex;
    padding: 16px;
}

.user-box > div {
    width: 50%;
}

.user-head {
    display: flex;
    align-items: center;
    background: #fff;
}

.user-head > div {
    width: 50%;
}

.user-box img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 12px;
}

.u-actions {
    justify-content: flex-end;
    padding: 16px;
    gap: 12px;
    cursor: pointer;
}

.tab-product .nav-link {
    width: 25%;
    color: #60626A;
    font-weight: bold;
}

.tab-product .nav-link.active {
    color: #F44F4F;
    border: none;
    border-bottom: 1px solid #F44F4F;
}

nav.tab-product {
    margin-bottom: 20px;
    background: #fff;
}

.pros {
    background: #fff;
    margin-bottom: 15px;
}

.view-home {
    display: flex;
    padding: 16px;
}

.view-home img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 12px;
}

.view-home .title {
    color: #000;
    font-weight: 400;
    font-size: 22px;
}

.view-home .params {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-weight: bold;
}

.h-type strong {
    color: #000;
}

.h-status {
    display: flex;
}

.h-status > div {
    width: 50%;
    padding: 16px;
}

.h-react {
    display: flex;
    background: #F2F2F2;
}

.rc-item {
    width: calc(100% / 3);
    text-align: center;
    padding: 16px;
    font-weight: bold;
}

.h-action {
    display: flex;
    padding: 16px;
    gap: 12px;
}

.h-action .btn-edit {
    width: 15% !important;
}
.h-action .btn {
    width: 45%;
    padding: 12px;
}
.h-action .btn:not(.btn-edit){
    flex: 1;
}
.btn-outline-danger {
    --bs-btn-color: #F44F4F;
    --bs-btn-border-color: #F44F4F;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #F44F4F;
    --bs-btn-hover-border-color: #F44F4F;
    --bs-btn-focus-shadow-rgb: 220,53,69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F44F4F;
    --bs-btn-active-border-color: #F44F4F;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F44F4F;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #F44F4F;
    --bs-gradient: none;
}
footer#footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: var(--width);
    max-width: 100%;
    height: 86px;
}
.foot-action {
    display: flex;
    padding: 12px;
    border-top: 1px solid #f2f2f2;
}
.foot-action > a {
    color: #60626A;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: calc(100% / 3);
    align-items: center;
    text-decoration: none;
}
.foot-action > a.active {
    color: #F44F4F;
}

.foot-action > a.active img {
    filter: invert(41%) sepia(261%) saturate(4122%) hue-rotate(337deg) brightness(119%) contrast(91%);
}
.add-action{
    background: #fff;
    padding: 8px;
    transform: translateY(-44px);
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    width: 85px;
}

.add-action img {
    width: 100% !important;
    border-radius: 50%;
    height: 100%;
}

.foot-action > a img {
    width: 30px;
}
.tab-title{
    padding: 16px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background: #fff;
}

.tab-title .title {
    width: 100%;
    font-size: 20px;
}
.tab-title .btn-back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.tab-title .title {
    color: #000;
}

#s-drop-img {
    background-repeat: no-repeat;
    background-size: auto 90%;
    font-size: 22px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    position: relative;
}

#s-drop-img .upload__box {
    height: 190px;
    width: 100%;
    margin: 0 15px;
    margin-bottom: 10px;
}

#s-drop-img .upload__inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#s-drop-img .upload__btn {
    display: flex;
    font-weight: 600;
    color: #a3a3a3;
    text-align: center;
    min-width: 116px;
    padding: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    line-height: 26px;
    font-size: 14px;
    border: none;
    font-size: 5rem;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background: #F2F2F2;
}

#s-drop-img .upload__btn:hover {
    color: #4045ba;
    transition: all 0.3s ease;
}

#s-drop-img .upload__btn-box {
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#s-drop-img .upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    min-width: 100%;
}

#s-drop-img .upload__img-box {
    width: 20%;
    padding: 0 5px;
    margin-bottom: 12px;
    height: 130px;
    border-radius: 5px;
}

#s-drop-img .upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#s-drop-img .upload__img-close:after {
    content: '\2716';
    font-size: 14px;
    color: white;
}

#s-drop-img .img-bg {
    position: relative;
    padding: 5px;
    width: 100%;
    height: 100%;
    background: var(--bg-fill);
}

#s-drop-img .img-bg img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
}

#s-drop-img .inline-text-drop {
    font-size: 16px;
    margin-top: 10px;
    color: #a3a3a3;
}

#s-drop-img .select-bg {
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;
}

#s-drop-img .select-bg button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    outline: none;
    border: 3px solid #444444;
    cursor: pointer;
    padding: 3px;
    background: transparent;
}

#s-drop-img .select-bg button span {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

#s-drop-img .select-bg button.active {
    border: 3px solid #99004d;
}

#s-drop-img #btn-saveToZip {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: linear-gradient(200deg, var(--accent-light-color), var(--accent-color));
    background-position: 50% 50%;
    background-size: 100%;
    border: none;
    color: #fff;
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
}

#s-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    cursor: progress;
}

#s-drop-img .bg-none {
    background-image: url('./transparent.png') !important;
    background-size: 20px 20px !important;
}

.form-card {
    background: #fff;
    padding: 20px 15px;
}

.form-card h4 {
    color: #F44F4F;
}
.check-b{
    background: #F2F2F2;
    border-radius: 8px;
    padding: 15px;
}
.form-card label {
    color: #000;
}
.tag-home .badge {
    border-radius: 60px;
    padding: 10px 15px;
}

.text-bg-secondary {
    background: #ECECEE !important;
    color: #60626A !important;
}
.text-bg-danger {
    background: #F44F4F !important;
    color: #fff;
}
.user-box .name {
    font-weight: bold;
}
.u-info {
    padding: 20px 15px;
}

.u-info h4 {
    font-size: 16px;
}
.tag-role{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
}
.user-box .role {
    display: flex;
    align-items: center;
}
.tab-buyer .nav-link {
    width: calc(100% / 3);
}
.w10 {
    width: 15% !important;
}
.details .slick-arrow {
    display: none;
}
.filters {
    background: #fff;
    padding: 16px;
    margin-bottom: 25px;
}

.tab-buyer {
    margin-bottom: 0 !important;
}

.filters  h4 {
    font-size: 19px;
    color: #000;
}

.ac-filter img {
    width: 22px;
    cursor: pointer;
}

.ac-filter {
    color: #000;
}

.product {
    background: #fff;
    padding: 15px;
    position: relative;
    margin-bottom: 15px;
}

.product .img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}

.product .badge {
    position: absolute;
    top: 25px;
    left: 25px;
    background: rgba(2, 4, 11, 0.5) !important;
    color: #fff !important;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.text-primary {
    color: #3480F1 !important;
}

.product .place {
    margin: 10px 0;
}

.product .place > span:first-child {
    font-weight: 500;
}

.product .title {
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.product .measure {
    display: flex;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.product ul {
    display: flex;
    gap: 28px;
    padding-left: 2px;
    font-size: 14px;
}

.product ul > li:first-child {
    list-style: none;
}

.p-action {
    gap: 8px;
    display: flex;
}

.p-action .btn {
    padding: 10px;
}

.p-action .btn:not(.w10) {
    flex: 1;
}
.product a {
    text-decoration: none;
    color: #60626A;
}
.modal-title {
    color: #000;
    font-size: 18px !important;
}

.form-filter .form-check {
    border-bottom: 1px solid #F2F2F2;
    padding: 10px 0px;
    font-weight: 500;
    display: flex;
}

.form-filter .form-check label {
    flex: 1;
    cursor: pointer;
}
.product .badge.vjp {
    left: auto;
    right: 25px;
    background: #F44F4F !important;
}

.product .badge.vjp img {
    width: 15px;
}
.w20 {
    width: 20%;
}
.notices {
    background: #fff;
}

.n-item {
    border-bottom: 1px solid #F2F2F2;
    display: flex;
    padding: 15px 12px;
    gap: 15px;
    cursor: pointer;
    color: #8f8f8f;
}

.n-item.active {
    color: #000;
}

.n-item.active img {
    filter: invert(41%) sepia(331%) saturate(3162%) hue-rotate(337deg) brightness(109%) contrast(91%);
}

.n-item .time {
    font-size: 14px;
    margin-top: 3px;
}

.n-item img {width: 42px;}

.baseColor {
    color: #60626A;
}
.cursor-pointer{
    cursor: pointer;
}
.details .title {
    font-size: 25px;
    color: #000;
    padding: 10px;
    background: #fff;
}

.details .info a {
    display: flex;
    gap: 6px;
    padding: 5px 10px;
}

.details .prices {
    display: flex;
    margin: 10px 0;
}

.prices > .price-item:last-child {
    border: none;
}

.price-item {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #e5e5e5;
}

.price-item .total {
    color: #F44F4F;
    font-weight: bold;
    font-size: 18px;
}

.details .user-head {
    background: transparent;
    border-top: 1px solid #ddd;
}

.rates {
    display: flex;
    font-size: 14px;
    gap: 5px;
}

.rates span {
    color: #bbb;
}

.details .user-box {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.details .user-box .badge {background: #F44F4F;border-radius: 12px;padding: 5px 12px;}

.txt-detail {
    padding: 15px;
}

.txt-detail {}

.btn-cls {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 8px;
}

.details .card-body {
    background: transparent;
    border: none;
}

.sdz {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
}

.sdz strong {
    color: #000;
}
.btn-cls{
    position:  relative;
}
.btn-cls[data-bs-toggle].collapsed:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    color:  #444444;
    position: absolute;
    right: 10px;
}
.btn-cls[data-bs-toggle]:not(.collapsed):after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f077";
    color:  #444444;
    position: absolute;
    right: 10px;
}
.txt-detail {
    border-bottom: 1px solid #ddd;
    background: #fff;
}
#range-slider {margin: 0 auto;}
#slider-range {background-color: #ECECEE;border-radius: 20px;}

.ui-slider-horizontal .ui-slider-range {background-color: #F44F4F;}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-active, .ui-widget-content .ui-state-active, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    background: #fff!important;
    border: 1px solid #cccccc!important;
}

.ui-slider .ui-slider-handle {
    border-radius: 50%;
    height:20px;
    width:20px;
}

#amount {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6875em;
    color: #000;
    text-align:center;
    width:100%;
    margin-bottom: 10px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #fff;
}
.show-price {
    flex: 1;
    text-align: center;
    font-weight: bold;
}
.ui-widget-content {
    border: none !important;
    background: #ECECEE !important;
}
.details .user-box .info {
    flex: 1;
}


.details .user-box {
    background: #fff;
}
form label.form-check-label {
    flex: 1;
    padding: 15px 0;
    cursor: pointer;
}

.form-check.form-check-inline {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
}

.check-b {
    padding: 0;
    display: flex;
}
